<nav class="navbar">
  <div class="container">
    <ul class="nav">
      <li routerLinkActive="active">
        <a routerLink="/connexion"><i data-feather="log-in"></i><span>S'authentifier</span></a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/liste-messages"><i data-feather="list"></i><span>Mes Postes</span></a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/profil"><i data-feather="user"></i><span>Mon Profil</span></a>
      </li>
    </ul>
  </div>
</nav>
