<!--Pour afficher le message concerné-->
<div class="container">
<div class="message" *ngIf="message">
  <h2>{{ message.titre }}</h2>
  <p>Date: {{ message.date }}</p>
  <p>{{ message.contenu }}</p>
</div>
<div>
<!--Boutton Créer un message qui renvoie vers la page de création-->
<button routerLink="/nouveau-message">Créer un message</button>

<!--Boutton Supprimer qui supprime le message de la liste-->
<button (click)="supprimer(message)">Supprimer</button>

<!--Boutton Retour qui renvoie au blog A CHANGER???-->
<button routerLink="/liste-messages">Retour</button>
</div>
</div>
